@import 'base';

header{
        
    .top-header{
        background-color: $primary-color;
        height: 25px;

        .container{
            display: flex;
            justify-content: flex-end;
    
            ul{
                li{
                    display: inline-block;
                    
                    a{
                        text-transform: uppercase;
                        color: $secondary-color;
                        font-size: $small-font;
                        font-weight: 600;
                        
                        .fa-trademark{
                            vertical-align: text-top;
                        }
                        
                        i{
                            font-size: $mini-font;
                        }
                    }
                }
    
                li:last-child{
                    margin-left: 35px;
                
                    i{
                        font-size: $small-font;
                        vertical-align:text-top;
                    }
                }
            }
        }
    }

    .bottom-header{
        background-color: $secondary-color;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;

            .logo{
                height: 80%;

                img{
                    height: 100%;
                }
            }

            ul{

                li{
                    display: inline-block;
                    margin: 0 10px;

                    a{
                        text-transform: uppercase;
                        color: $navbar-color;
                        font-weight: 500;
                        font-size: $navbar-font;
                    }
                }
            }

            .search{

                input{
                    width: 200px;
                    border: none;
                    border-bottom: 1px solid $primary-color;
                    text-align: right;
                    line-height: 30px;
                }
            }
        }
    }

}


.current{
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: $primary-color;
    width: fit-content;
    position: absolute;
    transform: translate(-10%, -50%);
    font-size: $big-font;
    font-weight: 600;
    color: $secondary-color;
}

.cover-show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;

    .card{
        width: 180px;

        figure{
            height: 180px;
            width: 100%;
            overflow: hidden;
        }
        .name{
            color: $secondary-color;
            margin-top: 15px;
        }
    }

    .card:last-child{
        margin-right: 0;
    }
}