@import 'base';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.separator{
    height: 80px;
    background-color: $primary-color;
}
.comic-cover-container{
    position: absolute;
    transform: translate(0, -110%);
    border: 1px solid $secondary-color;
}
.comic-top-description{
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
    align-items: center;
    
    .comic-text{
        width: 70%;

        &>*{
            margin: 25px 0;
        }

        .price-avail-container{
            display: flex;
            justify-content: space-between;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            background-color: rgb(98, 224, 98);
            box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.32);

            .avail{
                display: flex;

                div{
                    padding-left: 15px;
                }

                div:first-child{
                    border-right: 2px solid #00000032;
                    padding-right: 15px;
                }
            }
        }
    }

}