* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.separator {
  height: 80px;
  background-color: #0282f9;
}

.comic-cover-container {
  position: absolute;
  transform: translate(0, -110%);
  border: 1px solid #fff;
}

.comic-top-description {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
  align-items: center;
}

.comic-top-description .comic-text {
  width: 70%;
}

.comic-top-description .comic-text > * {
  margin: 25px 0;
}

.comic-top-description .comic-text .price-avail-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  background-color: #62e062;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.32);
}

.comic-top-description .comic-text .price-avail-container .avail {
  display: flex;
}

.comic-top-description .comic-text .price-avail-container .avail div {
  padding-left: 15px;
}

.comic-top-description .comic-text .price-avail-container .avail div:first-child {
  border-right: 2px solid #00000032;
  padding-right: 15px;
}

.comic-bottom-description {
  background-color: lightgray;
}

.comic-bottom-description .container {
  display: flex;
}

.comic-bottom-description .container .talent {
  width: 50%;
  margin-right: 20px;
}

.comic-bottom-description .container .col-title {
  padding: 30px 0;
}

.comic-bottom-description .container .specs {
  width: 50%;
  margin-left: 20px;
}

.comic-bottom-description .container .col-row {
  display: flex;
  justify-content: space-between;
}

.comic-bottom-description .container .col-row > * {
  padding: 30px 0;
  border-top: 1px solid gray;
}

.comic-bottom-description .container .col-row h5 {
  width: 40%;
}

.comic-bottom-description .container .col-row span {
  width: 60%;
}

header .top-header {
  background-color: #0282f9;
  height: 25px;
}

header .top-header .container {
  display: flex;
  justify-content: flex-end;
}

header .top-header .container ul li {
  display: inline-block;
}

header .top-header .container ul li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}

header .top-header .container ul li a .fa-trademark {
  vertical-align: text-top;
}

header .top-header .container ul li a i {
  font-size: 8px;
}

header .top-header .container ul li:last-child {
  margin-left: 35px;
}

header .top-header .container ul li:last-child i {
  font-size: 10px;
  vertical-align: text-top;
}

.header-nav {
  background-color: #fff;
}

.header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-nav .container .logo {
  height: 80%;
}

.header-nav .container .logo img {
  height: 100%;
}

.header-nav .container ul li {
  display: inline-block;
  margin: 0 10px;
}

.header-nav .container ul li a {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 13px;
}

.header-nav .container .search input {
  width: 200px;
  border: none;
  border-bottom: 1px solid #0282f9;
  text-align: right;
  line-height: 30px;
}

.current {
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: #0282f9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  transform: translate(-10%, -50%);
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.cover-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}

.cover-show .card {
  width: 180px;
  margin-bottom: 30px;
}

.cover-show .card figure {
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.cover-show .card .name {
  color: #fff;
  margin-top: 15px;
}

.cover-show .card:last-child {
  margin-right: 0;
}

.more-btn {
  width: 100%;
  text-align: center;
  margin: 50px 0 30px 0;
}

.more-btn a {
  padding: 15px 60px;
  background-color: #0282f9;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.main-nav {
  height: 125px;
  background-color: #0282f9;
  display: flex;
  align-items: center;
}

.main-nav .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
}

.main-nav .container .nav-obj {
  display: flex;
  align-items: center;
}

.main-nav .container .nav-obj a {
  color: #fff;
  margin: 0 10px;
}

.main-nav .container .nav-obj img {
  height: 50px;
}

.jumbotron {
  height: 400px;
  overflow: hidden;
}

.home-main-container {
  background-color: #1c1c1c;
}

